*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to left,rgb(154, 154, 232),rgb(210, 72, 123));
}
input, button{
    padding: 7px;
    border-radius: 10px;
    margin: 2px;
}
button{
    background-color: lavenderblush;
}
#disp{
    background-image: linear-gradient(to left,rgb(210, 72, 123),rgb(154, 154, 232));
}
